body{
    font-family: sans-serif;
    width: auto;
    height: auto;
}
.banner{
    display: flex;
    background-color: rgb(232, 84, 215, 0.10);
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-title{
    font-size: 50px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
}
.btn-primary{
    color: #fff;
    background-color: #E55473;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 15px;
  
}
.banner .profile-img{
    width: 500px; 
}

            /* first section */          
.section-title{
    font-size: 35px;
} 
.secttion-description{
    font-size: 25px;

}  
.second-section{
    line-height: 15px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
}  

.porfile-flower{
    display: flex;
    justify-content: space-around;
}
.flower-1{
    background-color: rgb(167, 33, 98, 0.15);
    border-radius: 350px 350px 0px 0px;
}
.flower-2{
    background-color: rgb(5, 151, 60, 0.15);
    border-radius: 350px 350px 0px 0px;
}
.flower-img{
    width: 300px;
    height: 350px;
    padding: 40px 20px 0px 40px;
}
.flower-3{
    background-color: rgb(71, 125, 17,0.15);
    border-radius: 350px 350px 0px 0px;
}
.flower-title{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin: -40px;
    text-decoration-line: underline;
}
.porfile-flower{
    padding: 60px 150px;
}

        /* second section */


.third-section{
    margin: 110px 180px;
    padding: 50px;
    background-color: rgb(39, 39, 39, 0.05);
    border-radius: 8px;

}      
.icon-img{
    text-align: center;
}           

.parent{
    display: flex;
    justify-content: space-around;
}   

     /* third section */

.forth-section{
    background-color: rgb(229, 84, 115, 0.05);
}     

.gudget{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gudget{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gudget-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
}
.gudget-description{
    font-size: 16px;
    text-align: center;
}
.primary-btn{
    color: #fff;
    background-color: #E55473;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 15px;
    margin-left: 220px;
}
         /* forth section */
.instra{
    padding: 50px;
}

.instra-title{
    font-size: 30px;
    text-align: center;
}    
.instra-description{
    font-size: 18px;
    text-align: center;
}  
.in{
    display: flex;
    justify-content: center;
    gap: 20px;
}   
.imgs{
    width: 270px;
    height: 330px;
}

         /* fifth section */
.sixth-section{
    text-align: center;
    background-image: url(images/Rectangle\ 9.png);
    margin-top: 150px;
    height: 400px;
    margin: 80px;
    border-radius: 5px;
} 
.subscribe{
    padding-top: 40px;
}
.subscribe-title{
    font-size: 30px ;
}    
.subscribe-description{
    font-size: 16px;
    padding-bottom: 10px;
}   
.email{
    width: 400px;
    height: 40px;
    border: 0;
}  